/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000;
	margin: 0 auto;
}
#myV {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

#sound {
	display: none;
}

.btn-play {
	position: absolute;
	opacity: 0.7;
	margin-right: 120px;
	z-index: 100;
	width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid black;
    border-bottom: 50px solid transparent;
}
.btn-play:active {
	border-top: 48px solid transparent;
    border-left: 96px solid black;
    border-bottom:48px solid transparent;
}
.btn-stop {
	position: absolute;
	margin-left: 120px;
	opacity: 0.7;
	z-index: 100;
	width: 0;
    height: 0;
    border-top: 50px solid;
    border-left: 100px solid black;
    border-bottom: 50px solid;
}
.btn-stop:active {
	border-top: 48px solid;
    border-left: 96px solid black;
    border-bottom: 48px solid;
}
.wrapper {
	height: 100vh;
	display: grid;
	place-items: center;
	
}
.content {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 10px;
	height: 100vh;
	
}


.content-text {
	font-size: 30px;
	
}


@media (max-width: 1085px) {
	.btn-play {
		bottom: 5%;
	}

	.btn-stop {
		bottom: 5%;
	}
	.content-text {
		font-size: 24px;
		
	}
}
@media (max-width: 500px) {
	.content-text {
		font-size: 20px;
		
	}
}
